In [1]:
import pandas as pd

In [2]:
df_val_lq = pd.read_excel("../data/raw/excel/Company_Screening_Report_Valuation_LQ.xlsx")
df_val_lq.to_csv("../data/raw/fundamentals_tev_LQ.csv", index=False)

df_val_historical = pd.read_excel("../data/raw/excel/Company_Screening_Report_Valuation_Historical.xlsx")
df_val_historical.to_csv("../data/raw/fundamentals_tev_historical.csv", index=False)

df_CY2018 = pd.read_excel("../data/raw/excel/Company_Screening_Report_Financials_CY2018.xlsx")
df_CY2018.to_csv("../data/raw/fundamentals_CY2018.csv", index=False)

df_CY2019 = pd.read_excel("../data/raw/excel/Company_Screening_Report_Financials_CY2019.xlsx")
df_CY2019.to_csv("../data/raw/fundamentals_CY2019.csv", index=False)

df_CY2020 = pd.read_excel("../data/raw/excel/Company_Screening_Report_Financials_CY2020.xlsx")
df_CY2020.to_csv("../data/raw/fundamentals_CY2020.csv", index=False)

df_CY2021 = pd.read_excel("../data/raw/excel/Company_Screening_Report_Financials_CY2021.xlsx")
df_CY2021.to_csv("../data/raw/fundamentals_CY2021.csv", index=False)

df_CY2022 = pd.read_excel("../data/raw/excel/Company_Screening_Report_Financials_CY2022.xlsx")
df_CY2022.to_csv("../data/raw/fundamentals_CY2022.csv", index=False)

df_CY2023 = pd.read_excel("../data/raw/excel/Company_Screening_Report_Financials_CY2023.xlsx")
df_CY2023.to_csv("../data/raw/fundamentals_CY2023.csv", index=False)

df_CY2024 = pd.read_excel("../data/raw/excel/Company_Screening_Report_Financials_CY2024.xlsx")
df_CY2024.to_csv("../data/raw/fundamentals_CY2024.csv", index=False)

df_LQ = pd.read_excel("../data/raw/excel/Company_Screening_Report_Financials_LQ.xlsx")
df_LQ.to_csv("../data/raw/fundamentals_LQ.csv", index=False)

In [3]:
df_val_lq.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Capital IQ Company Screening Report,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Company Name,Exchange:Ticker,Security Tickers,CIK,Excel Company ID,Industry Classifications,Total Enterprise Value [My Setting] [Latest] (...
7,"1-800-FLOWERS.COM, Inc. (NasdaqGS:FLWS)",NasdaqGS:FLWS,NasdaqGS:FLWS,0001084869,IQ24085,Consumer Discretionary (Primary),624.7
8,1847 Holdings LLC (OTCPK:LBRA),OTCPK:LBRA,OTCPK:LBRA,0001599407,IQ256569561,Industrials (Primary),31.8
9,"1stdibs.Com, Inc. (NasdaqGM:DIBS)",NasdaqGM:DIBS,NasdaqGM:DIBS,0001600641,IQ129622619,Consumer Discretionary (Primary),142.7

In [4]:
df_CY2018.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Capital IQ Company Screening Report,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Company Name,Exchange:Ticker,Security Tickers,CIK,Excel Company ID,Industry Classifications,"Total Revenue [CY 2018] ($USDmm, Historical rate)",Gross Margin % [CY 2018],"Capital Expenditure [CY 2018] ($USDmm, Histori..."
7,"1-800-FLOWERS.COM, Inc. (NasdaqGS:FLWS)",NasdaqGS:FLWS,NasdaqGS:FLWS,0001084869,IQ24085,Consumer Discretionary (Primary),1209.3,42.2,36.2
8,1847 Holdings LLC (OTCPK:LBRA),OTCPK:LBRA,OTCPK:LBRA,0001599407,IQ256569561,Industrials (Primary),7.33,55.8,0.011
9,"1stdibs.Com, Inc. (NasdaqGM:DIBS)",NasdaqGM:DIBS,NasdaqGM:DIBS,0001600641,IQ129622619,Consumer Discretionary (Primary),-,-,-

In [5]:
def clean(df, time_period):
    df.columns = df.iloc[6]
    df.columns.name = None
    df.drop(df.index[0:7],inplace=True)
    df.reset_index(drop=True,inplace=True)
    df = df.rename(columns={"Security Tickers":"Time Period"})
    df["Time Period"] = time_period
    df["Company Name"] = df["Company Name"].str.split("(").str[0]
    df["Company Name"] = df["Company Name"].str[:-1]
    df.columns = (df.columns.str.replace(r"\s*\[.*?\]\s*", " ", regex=True).str.strip())
    df[["Exchange1", "Ticker1"]] = df["Exchange:Ticker"].str.split(":", n=1, expand=True)
    df.insert(1, "Ticker", df["Ticker1"])
    df.insert(1, "Exchange", df["Exchange1"])
    df = df.drop(columns=["Exchange:Ticker", "Exchange1", "Ticker1"])
    return df

In [6]:
df_val_lq = clean(df_val_lq, "Latest Quarter")
df_val_historical = clean(df_val_historical, "N/A")
df_CY2018 = clean(df_CY2018, "2018")
df_CY2019 = clean(df_CY2019, "2019")
df_CY2020 = clean(df_CY2020, "2020")
df_CY2021 = clean(df_CY2021, "2021")
df_CY2022 = clean(df_CY2022, "2022")
df_CY2023 = clean(df_CY2023, "2023")
df_CY2024 = clean(df_CY2024, "2024")
df_LQ = clean(df_LQ, "Latest Quarter")

In [7]:
df_LQ.columns

Index(['Company Name', 'Exchange', 'Ticker', 'Time Period', 'CIK',
       'Excel Company ID', 'Industry Classifications',
       'Total Revenue ($USDmm, Historical rate)', 'Gross Margin %',
       'Capital Expenditure ($USDmm, Historical rate)'],
      dtype='object')

In [8]:
df_val_lq.head(10)

,Company Name,Exchange,Ticker,Time Period,CIK,Excel Company ID,Industry Classifications,"Total Enterprise Value ($USDmm, Historical rate)"
0,"1-800-FLOWERS.COM, Inc.",NasdaqGS,FLWS,Latest Quarter,0001084869,IQ24085,Consumer Discretionary (Primary),624.7
1,1847 Holdings LLC,OTCPK,LBRA,Latest Quarter,0001599407,IQ256569561,Industrials (Primary),31.8
2,"1stdibs.Com, Inc.",NasdaqGM,DIBS,Latest Quarter,0001600641,IQ129622619,Consumer Discretionary (Primary),142.7
3,374Water Inc.,NasdaqCM,SCWO,Latest Quarter,0000933972,IQ690226053,Industrials (Primary),40.4
4,3D Systems Corporation,NYSE,DDD,Latest Quarter,0000910638; 0001023748,IQ308402,Industrials (Primary),329.8
5,3M Company,NYSE,MMM,Latest Quarter,0000066740,IQ289194,Industrials (Primary),94139
6,74Software,ENXTPA,74SW,Latest Quarter,-,IQ23078784,Information Technology (Primary),1709.1
7,"8x8, Inc.",NasdaqGS,EGHT,Latest Quarter,0001023731,IQ362956,Information Technology (Primary),583.7
8,908 Devices Inc.,NasdaqGM,MASS,Latest Quarter,0001555279,IQ216496942,Information Technology (Primary),88.1
9,A. O. Smith Corporation,NYSE,AOS,Latest Quarter,0000046497; 0000091142,IQ997111,Industrials (Primary),9484.5

In [9]:
df_val_lq.to_csv("../data/processed/fundamentals_clean_val_lq_only.csv", index=False)

In [10]:
df_val_historical.columns

Index(['Company Name', 'Exchange', 'Ticker', 'Company Type', 'Time Period',
       'Excel Company ID', 'Industry Classifications',
       'Total Enterprise Value  ($USDmm, 2018)',
       'Total Enterprise Value  ($USDmm, 2019)',
       'Total Enterprise Value  ($USDmm, 2020)',
       'Total Enterprise Value  ($USDmm, 2021)',
       'Total Enterprise Value  ($USDmm, 2022)',
       'Total Enterprise Value  ($USDmm, 2023)',
       'Total Enterprise Value  ($USDmm, 2024)'],
      dtype='object')

In [11]:
cols = df_val_historical.columns.tolist()
cols[7:] = [col[:23] + col[24:] for col in cols[7:]]
df_val_historical.columns = cols

In [12]:
df_val_historical.columns

Index(['Company Name', 'Exchange', 'Ticker', 'Company Type', 'Time Period',
       'Excel Company ID', 'Industry Classifications',
       'Total Enterprise Value ($USDmm, 2018)',
       'Total Enterprise Value ($USDmm, 2019)',
       'Total Enterprise Value ($USDmm, 2020)',
       'Total Enterprise Value ($USDmm, 2021)',
       'Total Enterprise Value ($USDmm, 2022)',
       'Total Enterprise Value ($USDmm, 2023)',
       'Total Enterprise Value ($USDmm, 2024)'],
      dtype='object')

In [13]:
df_val_historical.insert(loc=len(df_val_historical.columns), column="Total Enterprise Value ($USDmm, Latest Quarter)", value=df_val_lq["Total Enterprise Value  ($USDmm, Historical rate)"])

In [14]:
df_val_historical.head(10)

,Company Name,Exchange,Ticker,Company Type,Time Period,Excel Company ID,Industry Classifications,"Total Enterprise Value ($USDmm, 2018)","Total Enterprise Value ($USDmm, 2019)","Total Enterprise Value ($USDmm, 2020)","Total Enterprise Value ($USDmm, 2021)","Total Enterprise Value ($USDmm, 2022)","Total Enterprise Value ($USDmm, 2023)","Total Enterprise Value ($USDmm, 2024)","Total Enterprise Value ($USDmm, Latest Quarter)"
0,"1-800-FLOWERS.COM, Inc.",NasdaqGS,FLWS,Public Company,N/A,IQ24085,Consumer Discretionary (Primary),858.3,1076.2,1976.7,1818.2,1050.1,1049.2,864.3,624.7
1,1847 Holdings LLC,OTCPK,LBRA,Public Company,N/A,IQ256569561,Industrials (Primary),-,18.5,20.5,20.3,38.2,36.6,39.3,31.8
2,"1stdibs.Com, Inc.",NasdaqGM,DIBS,Public Company,N/A,IQ129622619,Consumer Discretionary (Primary),-,-,-,306.6,64.9,66.5,43.1,142.7
3,374Water Inc.,NasdaqCM,SCWO,Public Company,N/A,IQ690226053,Industrials (Primary),-,-,-,343.2,353.9,175.6,95.6,40.4
4,3D Systems Corporation,NYSE,DDD,Public Company,N/A,IQ308402,Industrials (Primary),1082.9,1011,1301.3,2317.8,861.9,937.2,541.7,329.8
5,3M Company,NYSE,MMM,Public Company,N/A,IQ289194,Industrials (Primary),122351,114150.4,116774.7,115702.8,82222.2,72142.3,76922.1,94139
6,74Software,ENXTPA,74SW,Public Company,N/A,IQ23078784,Information Technology (Primary),304.2,340.5,756.9,709.5,474.9,712.5,926.6,1709.1
7,"8x8, Inc.",NasdaqGS,EGHT,Public Company,N/A,IQ362956,Information Technology (Primary),1591.6,1945.5,3908.5,2175.6,949.4,857.3,692.8,583.7
8,908 Devices Inc.,NasdaqGM,MASS,Public Company,N/A,IQ216496942,Information Technology (Primary),-,-,1566.3,685.6,67.8,221.8,12.1,88.1
9,A. O. Smith Corporation,NYSE,AOS,Public Company,N/A,IQ997111,Industrials (Primary),6832.4,7627.9,8502.6,13128.4,8648.5,12083.7,9777.7,9484.5

In [15]:
df_val_historical.columns

Index(['Company Name', 'Exchange', 'Ticker', 'Company Type', 'Time Period',
       'Excel Company ID', 'Industry Classifications',
       'Total Enterprise Value ($USDmm, 2018)',
       'Total Enterprise Value ($USDmm, 2019)',
       'Total Enterprise Value ($USDmm, 2020)',
       'Total Enterprise Value ($USDmm, 2021)',
       'Total Enterprise Value ($USDmm, 2022)',
       'Total Enterprise Value ($USDmm, 2023)',
       'Total Enterprise Value ($USDmm, 2024)',
       'Total Enterprise Value ($USDmm, Latest Quarter)'],
      dtype='object')

In [16]:
df_CY2018.loc[0:5,["Company Name"]]

              Company Name
0  1-800-FLOWERS.COM, Inc.
1        1847 Holdings LLC
2        1stdibs.Com, Inc.
3            374Water Inc.
4   3D Systems Corporation
5               3M Company

In [17]:
df_CY2018.head(10)

,Company Name,Exchange,Ticker,Time Period,CIK,Excel Company ID,Industry Classifications,"Total Revenue ($USDmm, Historical rate)",Gross Margin %,"Capital Expenditure ($USDmm, Historical rate)"
0,"1-800-FLOWERS.COM, Inc.",NasdaqGS,FLWS,2018,0001084869,IQ24085,Consumer Discretionary (Primary),1209.3,42.2,36.2
1,1847 Holdings LLC,OTCPK,LBRA,2018,0001599407,IQ256569561,Industrials (Primary),7.33,55.8,0.011
2,"1stdibs.Com, Inc.",NasdaqGM,DIBS,2018,0001600641,IQ129622619,Consumer Discretionary (Primary),-,-,-
3,374Water Inc.,NasdaqCM,SCWO,2018,0000933972,IQ690226053,Industrials (Primary),-,-,-
4,3D Systems Corporation,NYSE,DDD,2018,0000910638; 0001023748,IQ308402,Industrials (Primary),691.5,46.9,40.7
5,3M Company,NYSE,MMM,2018,0000066740,IQ289194,Industrials (Primary),32765,49.2,1577
6,74Software,ENXTPA,74SW,2018,-,IQ23078784,Information Technology (Primary),325,17.7,5.01
7,"8x8, Inc.",NasdaqGS,EGHT,2018,0001023731,IQ362956,Information Technology (Primary),338.2,55.4,8.43
8,908 Devices Inc.,NasdaqGM,MASS,2018,0001555279,IQ216496942,Information Technology (Primary),22.1,56.2,0.727
9,A. O. Smith Corporation,NYSE,AOS,2018,0000046497; 0000091142,IQ997111,Industrials (Primary),3187.9,41,85.2

In [18]:
df_val_historical.to_csv("../data/processed/fundamentals_clean_val.csv", index=False)
df_CY2018.to_csv("../data/processed/fundamentals_clean_CY2018.csv", index=False)
df_CY2019.to_csv("../data/processed/fundamentals_clean_CY2019.csv", index=False)
df_CY2020.to_csv("../data/processed/fundamentals_clean_CY2020.csv", index=False)
df_CY2021.to_csv("../data/processed/fundamentals_clean_CY2021.csv", index=False)
df_CY2022.to_csv("../data/processed/fundamentals_clean_CY2022.csv", index=False)
df_CY2023.to_csv("../data/processed/fundamentals_clean_CY2023.csv", index=False)
df_CY2024.to_csv("../data/processed/fundamentals_clean_CY2024.csv", index=False)
df_LQ.to_csv("../data/processed/fundamentals_clean_LQ.csv", index=False)