In [50]:
import sqlite3
import pandas as pd
from pathlib import Path
import numpy as np
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [51]:
import sys
sys.path.append("../src")
from call_sql_queries import *

In [52]:
df_cbg = coverage_by_growth(None)
df_cbg.to_csv("../outputs/notebook_outputs/coverage_by_growth.csv")
df_cbg

      Growth Bucket  Num of Observations
0         Declining                 3691
1        Low Growth                 2405
2   Moderate Growth                 2099
3       Hypergrowth                 1229
4       High Growth                  961
5  Very High Growth                  535

In [53]:
df_cbm = coverage_by_margin(None)
df_cbm.to_csv("../outputs/notebook_outputs/coverage_by_margin.csv")
df_cbm

      Margin Bucket  Num of Observations
0        Low Margin                 3300
1    Low Mid Margin                 2799
2   Very Low Margin                 2677
3   High Mid margin                 1767
4       High Margin                 1290
5  Very High Margin                  904

In [54]:
df_cbreg = coverage_by_regime(None, None, None, None, None, None)
df_cbreg.to_csv("../outputs/notebook_outputs/coverage_by_regime_all.csv")
df_cbreg

,Growth Bucket,Capex Bucket,Margin Bucket,Revenue Bucket,Num of Observations
0,Low Growth,Asset Light,Low Margin,$1B+,351
1,Declining,Asset Light,Low Margin,$1B+,350
2,Low Growth,Asset Light,Low Mid Margin,$1B+,298
3,Moderate Growth,Asset Light,Low Margin,$1B+,263
4,Declining,Asset Light,Very Low Margin,$1B+,258
...,...,...,...,...,...
731,Very High Growth,Very High Capital Intensity,Low Mid Margin,$100-250M,1
732,Very High Growth,Very High Capital Intensity,Low Mid Margin,$1B+,1
733,Very High Growth,Very High Capital Intensity,Low Mid Margin,$50-100M,1
734,Very High Growth,Very High Capital Intensity,Very High Margin,$100-250M,1
735,Very High Growth,Very High Capital Intensity,Very Low Margin,$100-250M,1

In [55]:
df_cbrmc = coverage_by_regime_minus_capex(None, None, None, None, None)
df_cbrmc.to_csv("../outputs/notebook_outputs/coverage_by_regime_no_capex.csv")
df_cbrmc

        Growth Bucket     Margin Bucket Revenue Bucket  Num of Observations
0          Low Growth        Low Margin           $1B+                  440
1           Declining        Low Margin           $1B+                  427
2          Low Growth    Low Mid Margin           $1B+                  380
3           Declining    Low Mid Margin           $1B+                  335
4     Moderate Growth        Low Margin           $1B+                  333
..                ...               ...            ...                  ...
210       High Growth  Very High Margin       $50-100M                    4
211  Very High Growth   High Mid margin       $50-100M                    4
212  Very High Growth       High Margin       $50-100M                    3
213  Very High Growth  Very High Margin      $250-500M                    3
214       Hypergrowth  Very High Margin       $50-100M                    2

[215 rows x 4 columns]

In [56]:
coverage_by_regime("High Growth", "Asset Light", "Low Margin", "$100-250M", None, None)

  Growth Bucket Capex Bucket Margin Bucket Revenue Bucket  Num of Observations
0   High Growth  Asset Light    Low Margin      $100-250M                   18

In [57]:
df_vbr = valuation_by_regime(None, None, None, None, None, None)
df_vbr.to_csv("../outputs/notebook_outputs/valuation_by_regime_all.csv")
df_vbr

,Growth Bucket,Capex Bucket,Margin Bucket,Revenue Bucket,Mean EV/Rev,Min EV/Rev,Max EV/Rev
0,Declining,Extreme Capital Intensity,Very High Margin,< $50M,inf,-5100.000000,inf
1,Hypergrowth,Asset Light,Very High Margin,< $50M,1.936813e+10,0.440318,1.258929e+12
2,Declining,Asset Light,Very High Margin,$100-250M,2.626430e+08,0.467415,1.575858e+09
3,Hypergrowth,Asset Light,Very High Margin,$1B+,1.675017e+05,8.669985,6.699610e+05
4,Low Growth,Extreme Capital Intensity,Low Margin,< $50M,5.735121e+03,5735.120643,5.735121e+03
...,...,...,...,...,...,...,...
731,Very High Growth,High Capital Intensity,Very Low Margin,$100-250M,NaN,NaN,NaN
732,Very High Growth,Moderate Capital Intensity,High Margin,$50-100M,NaN,NaN,NaN
733,Very High Growth,Moderate Capital Intensity,Low Margin,$250-500M,NaN,NaN,NaN
734,Very High Growth,Moderate Capital Intensity,Low Mid Margin,$250-500M,NaN,NaN,NaN
735,Very High Growth,Moderate Capital Intensity,Very Low Margin,$100-250M,NaN,NaN,NaN

In [59]:
df_vbgc = valuation_by_growth_capex()
df_vbgc.to_csv("../outputs/notebook_outputs/valuation_by_growth_capex.csv")
df_vbgc

Capex Bucket,Asset Light,Moderate Capital Intensity,High Capital Intensity,Very High Capital Intensity,Extreme Capital Intensity
Growth Bucket,,,,,
Declining,6.456715e+05,130.207435,51.203637,76.318088,NaN
Low Growth,4.110531e+01,5.281944,6.658880,3.064432,195.284155
Moderate Growth,5.245006e+00,4.452767,16.703968,8.707323,24.829622
High Growth,3.314755e+01,17.005945,106.085042,10.526378,154.764543
Very High Growth,1.211665e+01,123.470894,18.155157,17.588456,11.746507
Hypergrowth,2.216427e+09,56.636983,80.896957,69.351091,359.821273

In [61]:
df_vbgm = valuation_by_growth_margin()
df_vbgm.to_csv("../outputs/notebook_outputs/valuation_by_growth_margin.csv")
df_vbgm

Margin Bucket,Very Low Margin,Low Margin,Low Mid Margin,High Mid margin,High Margin,Very High Margin
Growth Bucket,,,,,,
Declining,14.148038,28.154179,284.792960,220.692468,64.586618,inf
Low Growth,1.706800,10.580297,7.855619,5.409330,248.223790,6.166305e+00
Moderate Growth,6.779182,1.941595,7.493317,4.957336,7.549617,8.451297e+00
High Growth,9.014078,2.622097,103.978072,16.647686,9.640508,6.354755e+01
Very High Growth,13.226380,7.595788,5.850002,7.644930,125.037711,2.188685e+02
Hypergrowth,112.420292,12.754552,70.904683,66.790896,100.876376,1.040437e+10

In [62]:
df_vbgr = valuation_by_growth_revenue()
df_vbgr.to_csv("../outputs/notebook_outputs/valuation_by_growth_revenue.csv")
df_vbgr

Revenue Bucket,< $50M,$50-100M,$100-250M,$250-500M,$500M-1B,$1B+
Growth Bucket,,,,,,
Declining,inf,1.840096,5.568407e+06,2.738189,2.225923,2.167365
Low Growth,2.540758e+02,2.912764,2.929002e+00,2.275350,2.935034,2.664350
Moderate Growth,1.929392e+01,3.928558,2.879247e+00,4.545421,4.155579,3.490302
High Growth,1.595013e+02,2.292473,5.292362e+00,6.048333,6.020441,4.422646
Very High Growth,1.463997e+02,2.457965,7.799758e+00,6.766293,9.292116,6.990734
Hypergrowth,2.425682e+09,7.448209,7.592673e+00,10.297305,11.668839,4563.565157

In [63]:
df_cavbcs = coverage_and_valuation_by_current_stage(None, None)
df_cavbcs.to_csv("../outputs/notebook_outputs/coverage_and_valuation_by_current_stage_all.csv")
df_cavbcs

       Growth Bucket Revenue Bucket  Num of Observations   Mean EV/Rev
0   Very High Growth         < $50M                  135  1.507165e+02
1   Very High Growth       $50-100M                   35  2.457965e+00
2   Very High Growth      $100-250M                   63  7.799758e+00
3   Very High Growth      $250-500M                   64  6.766293e+00
4   Very High Growth       $500M-1B                   92  9.292116e+00
5   Very High Growth           $1B+                  146  6.990734e+00
6          Declining         < $50M                 1130           NaN
7          Declining       $50-100M                  173  1.856842e+00
8          Declining      $100-250M                  339  5.568407e+06
9          Declining      $250-500M                  343  2.738189e+00
10         Declining       $500M-1B                  426  2.225923e+00
11         Declining           $1B+                 1280  2.167365e+00
12        Low Growth         < $50M                  285  2.942739e+02
13        Low Growth       $50-100M                   83  2.912764e+00
14        Low Growth      $100-250M                  152  2.929002e+00
15        Low Growth      $250-500M                  199  2.275350e+00
16        Low Growth       $500M-1B                  296  2.935034e+00
17        Low Growth           $1B+                 1390  2.664350e+00
18   Moderate Growth         < $50M                  269  2.076406e+01
19   Moderate Growth       $50-100M                   88  3.928558e+00
20   Moderate Growth      $100-250M                  169  2.879247e+00
21   Moderate Growth      $250-500M                  238  4.545421e+00
22   Moderate Growth       $500M-1B                  278  4.155579e+00
23   Moderate Growth           $1B+                 1057  3.490302e+00
24       High Growth         < $50M                  207  1.693401e+02
25       High Growth       $50-100M                   52  2.292473e+00
26       High Growth      $100-250M                  103  5.292362e+00
27       High Growth      $250-500M                  123  6.048333e+00
28       High Growth       $500M-1B                  153  6.020441e+00
29       High Growth           $1B+                  323  4.422646e+00
30       Hypergrowth         < $50M                  777  2.318471e+09
31       Hypergrowth       $50-100M                   72  4.383888e+01
32       Hypergrowth      $100-250M                   98  7.679616e+00
33       Hypergrowth      $250-500M                   65  1.029731e+01
34       Hypergrowth       $500M-1B                   54  1.166884e+01
35       Hypergrowth           $1B+                  163  4.563565e+03

In [28]:
# testing below

In [29]:
pull_comps_exact("Low Growth", "Moderate Capital Intensity", "Very High Margin", "$50-100M")

          Company Name  Exchange Ticker  Year     EV/Rev
0           Gaia, Inc.  NasdaqGM   GAIA  2022   0.728049
1  Winmark Corporation  NasdaqGM   WINA  2019  11.016371

In [36]:
pull_comps_fuzzy("Low Growth", "Moderate Capital Intensity", "Very Low Margin", "$50-100M")

,Company Name,Exchange,Ticker,Year,EV/Rev,Growth Bucket,Capex Bucket,Margin Bucket,Revenue Bucket
0,"Luminar Technologies, Inc.",OTCPK,LAZR.Q,2024,7.478780,Low Growth,Moderate Capital Intensity,Very Low Margin,$50-100M
1,"Perma-Fix Environmental Services, Inc.",NasdaqCM,PESI,2024,3.287648,Declining,Moderate Capital Intensity,Very Low Margin,$50-100M
2,"Portsmouth Square, Inc.",OTCPK,PRSI,2023,3.221411,Low Growth,Moderate Capital Intensity,Very Low Margin,< $50M
3,"Portsmouth Square, Inc.",OTCPK,PRSI,2024,2.964623,Low Growth,Moderate Capital Intensity,Very Low Margin,< $50M
4,"AXT, Inc.",NasdaqGS,AXTI,2023,2.451187,Declining,Moderate Capital Intensity,Very Low Margin,$50-100M
5,American Superconductor Corporation,NasdaqGS,AMSC,2019,1.852405,Low Growth,Moderate Capital Intensity,Very Low Margin,$50-100M
6,Air Industries Group,NYSEAM,AIRI,2020,1.431138,Declining,Moderate Capital Intensity,Very Low Margin,$50-100M
7,TechPrecision Corporation,NasdaqCM,TPCS,2024,1.427711,Low Growth,Moderate Capital Intensity,Very Low Margin,< $50M
8,"Capstone Green Energy Holdings, Inc.",OTCPK,CGEH,2022,0.990000,Declining,Moderate Capital Intensity,Very Low Margin,$50-100M
9,"Capstone Green Energy Holdings, Inc.",OTCPK,CGEH,2021,0.979079,Moderate Growth,Moderate Capital Intensity,Very Low Margin,$50-100M
10,"RYTHM, Inc.",NasdaqCM,RYM,2022,0.593482,Declining,Moderate Capital Intensity,Very Low Margin,$50-100M
11,Avalon Holdings Corporation,NYSEAM,AWX,2020,0.546848,Declining,Moderate Capital Intensity,Very Low Margin,$50-100M
12,Avalon Holdings Corporation,NYSEAM,AWX,2022,0.517241,Moderate Growth,Moderate Capital Intensity,Very Low Margin,$50-100M
13,"Capstone Green Energy Holdings, Inc.",OTCPK,CGEH,2019,0.484887,Declining,Moderate Capital Intensity,Very Low Margin,$50-100M
14,Avalon Holdings Corporation,NYSEAM,AWX,2021,0.464489,Moderate Growth,Moderate Capital Intensity,Very Low Margin,$50-100M
15,Avalon Holdings Corporation,NYSEAM,AWX,2019,0.323099,Low Growth,Moderate Capital Intensity,Very Low Margin,$50-100M
16,"Blaize Holdings, Inc.",NasdaqGM,BZAI,2023,NaN,Low Growth,Moderate Capital Intensity,Very Low Margin,< $50M
17,"Capstone Green Energy Holdings, Inc.",OTCPK,CGEH,2023,NaN,Moderate Growth,Moderate Capital Intensity,Very Low Margin,$50-100M
18,"Luminar Technologies, Inc.",OTCPK,LAZR.Q,2019,NaN,Low Growth,Moderate Capital Intensity,Very Low Margin,< $50M

In [31]:
pull_stage_comps("Low Growth", "$50-100M")

,Company Name,Exchange,Ticker,Year,EV/Rev,Margin Bucket
0,"1stdibs.Com, Inc.",NasdaqGM,DIBS,2024,0.488109,High Margin
1,908 Devices Inc.,NasdaqGM,MASS,2023,4.418327,High Mid margin
2,Air Industries Group,NYSEAM,AIRI,2024,0.731397,Very Low Margin
3,"Airgain, Inc.",NasdaqCM,AIRG,2024,1.217822,Low Mid Margin
4,Ambow Education Holding Ltd.,NYSEAM,AMBO,2019,0.424315,Low Margin
...,...,...,...,...,...,...
78,"urban-gro, Inc.",NasdaqCM,UGRO,2023,0.220979,Very Low Margin
79,WidePoint Corporation,NYSEAM,WYY,2022,0.171095,Very Low Margin
80,Winmark Corporation,NasdaqGM,WINA,2019,11.016371,Very High Margin
81,Winmark Corporation,NasdaqGM,WINA,2022,10.724816,Very High Margin
82,Winmark Corporation,NasdaqGM,WINA,2023,17.909856,Very High Margin

In [38]:
pull_stage_comps_coverage_median_mean("Low Growth", "$50-100M")

,Growth Bucket,Revenue Bucket,Num of Observations,Median EV/Rev,Mean EV/Rev
0,Low Growth,$50-100M,83,1.007916,2.912764

In [33]:
pull_stage_comps_plus_margin_coverage_and_median("Low Growth", "Very High Margin", "$50-100M")

,Growth Bucket,Revenue Bucket,Margin Bucket,Num of Observations,Median EV/Rev
0,Low Growth,$50-100M,Very High Margin,7,10.724816

In [48]:
pull_stage_comps_coverage_and_median_by_margin_bracket("Low Growth", "$50-100M")

,Growth Bucket,Revenue Bucket,Margin Bracket,Num of Observations,Median EV/Rev,Mean_EV_Rev
0,Low Growth,$50-100M,Lower Margin,41,0.707908,1.512242
1,Low Growth,$50-100M,Higher Margin,42,2.021643,4.371426